{% extends "base.html" %}{% block title %}{{ keyword }} 搜索结果 | moviePlan 电影计划{% endblock %}{% block content -%}
{%import 'search_macors.html' as macros%}
<nav>
    <div id="navbar" class="clear">
        <div class="logo">
            <h1 class="logo"><a href="/">moviePlan 电影计划</h1></a>
        </div>
        <div class="search">
            <form action="{{url_for('indexViews.search')}}">
                <input type="text" class="form-control" name="keyword" id="search" , placeholder="搜索关键字">
                <button class="btn btn-default searchButton">搜索</button>
            </form>
        </div>
    </div>
    </div>
</nav>
<div class="content">
    <div style="font-size: 22px; margin-bottom: 25px"><span style="color:red">{{ keyword }}</span> 搜索结果 </div>
    <ul>
        {% for eachData in result %}
        <li class="movieList">
            <div class="movieBlock">
                <div class="moviePoster">
                    <img src="{{ url_for('static', filename='poster/' + eachData.poster) }}" alt="poster"
                        class="poster">
                </div>
                <div class="movieInfo">
                    <span class="zhName">{{ eachData.chineseName }}</span>
                    <span class="enName">{{ eachData.movieName }}</span>
                    <span class="tags">{{ eachData.tags }}</span>
                    <div class="rsData">
                        <span class="year">{{ eachData.releaseYear }}</span>
                        <span class="regions">{{ eachData.regions }}</span>
                    </div>
                    <div class="rsData">
                        {% if eachData.doneSign == "done" %}
                        <span class="doneSign label label-success">已收看</span>
                        <span class="watchTime label label-info">{{ eachData.watchTime }}</span>
                        {% endif%}
                    </div>
                </div>
                <div class="op">
                    {% if eachData.doneSign == "none" %}
                    <button type="button" class="btn btn-primary">收看</button>
                    {% endif%}

                </div>
            </div>
        </li>


        {% endfor %}
    </ul>
    <div class="pageBar">
        <div class="totalNum">
            <span>共计 {{ totalNum }} 条</span>
        </div>
        <div class="pagination">
            {%if pagination%} {{macros.paginate(pagination,'indexViews.search',keyword=request.args.get('keyword') | safe)}} {%endif%}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#transfer').click(function () {
            var page = $('#transfer_page').val();
            window.location.href = "{{url_for('indexViews.search')}}?keyword={{ keyword }}" + "&page=" + page;
        })
    })
</script>
{% endblock %}

